@use "../../styles/partials/colors" as *;

.demo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  &__time {
    background-color: $cultured;
    border: 0.125rem solid $oxford-blue;
    padding: 0.375rem;
    width: 5.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__time-value {
    color: $ruby-red;
    margin: 0;
    font-weight: 700;
  }
  &__btn-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  &__btn-container {
    display: flex;
    align-items: center;
  }
}
