@use "../../styles/partials/colors" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  &--clear {
    background-color: transparent;
    border: none;
    color: $gunmetal;
  }
  &--demo {
    background-color: $cultured;
    color: $oxford-blue;
    border: 0.125rem solid $oxford-blue;
  }
  &--login{
    background-color: $paradise-pink;
    height: 3rem;
    width: 5rem;
    color: white;
    border-radius: .25rem;
  }
  &--goin{
    height: 3rem;
    width: 5rem;
    margin: 1rem;
    background-color: $android-green;
  }
}
