@use "../../styles/partials/colors" as *;

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    &--clear{
        background-color: transparent;
        border: none;
        color: $gunmetal;
    }
    &--demo{
        background-color: $cultured;
        color: $oxford-blue;
        border: 2px solid $oxford-blue;
    }
}