$smokey-black: #0f0a0a;
$white: #ffffff;
$bone: #f1faee;
$gray-11: #f3f2f2;
$light-cyan: #d6f0ef;
$blue-green: #5bc0be;
$light-blue: #53afd6;
$russian-violet: #240b36;
$android-green: #9bc53d;
$gunmetal: #052332;
$ruby-red: #a4031f;
$pink: #b70996;
$paradise-pink: #e65471;
$green: #008000;
$red: #ff0000;
$minion-yellow: #fde74c;
$cultured: #f8f7f7;
$oxford-blue: #002147;
$powder-blue: #ade0df;
$powder-blue-op: #ade0dfbb;
$burgundy: #840525;
$minion-yellow-op: #53afd69f;
$orange-red: #ff4500;
$smokey-black-op: #240b36a2;
