@use "colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');


html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url("../../assests/home screen (2).png");
  background-position: top;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}