@use "colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
