$mobile-breakpoint: 20rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
