@use "../../styles/partials/colors" as *;

.card {
  max-width: 80rem;
  margin-inline: 1rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.3125rem;
  padding: 0.25rem;
  &--primary {
    background-color: $light-cyan;
  }
  &--secondary {
    background-color: $bone;
  }
  &--demo {
    background-color: $minion-yellow;
  }
  &--modal {
    background-color: $burgundy;
  }
  &--main{
    background-color: $powder-blue-op;
    height: 25rem;
    margin: 1.5rem;
  }
  &--info{
    background-color: $minion-yellow;
    height: 25rem;
    margin: 2rem;
  }
}
