@use "../../styles/partials/colors" as *;

.header {
  background-color:$light-blue;
  color: $white;
  &__logo{
    margin-bottom: 0;
  }
  &__logo-2{
    margin: 0;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    width: 100%;
  }
  &__item {
  }
}
