@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;

.header {
  background-color: $light-blue;
  color: $white;
  &__item{
    color: red;
  }
  &__leaf {
    color: $green;
    background-color: $bone;
    border: 1px solid $smokey-black-op;
    border-radius: 2rem;
    padding: .10rem;
    margin-top: .75rem;
}
  &__logo {
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
  }
  &__logo-2 {
    margin: 0;
    text-align: center;
  }
  &__logo-container {
    padding-top: 1.25rem;
  }
  &__nav {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    margin-inline: auto;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    width: 100%;
  }
  @include tablet {
    &__nav {
      flex-direction: row;
      justify-content: space-between;
    }
    &__menu {
      width: auto;
      flex-grow: 0;
      gap: 2rem;
    }
    &__logo-container {
      padding: 1rem 0;
    }
  }
}
