@use "../../styles/partials/colors" as *;

.checkbox {
  &__container {
    display: block;
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.875rem;
    width: 0.875rem;
    background-color: $gray-11;
    border-radius: 0.25rem;
    border: 0.0625rem solid $light-blue;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
    &:after {
      left: 0.25rem;
      top: 0.0625rem;
      width: 0.3125rem;
      height: 0.625rem;
      border: solid $android-green;
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__container:hover input ~ &__checkmark {
    background-color: $blue-green;
  }
  &__container input:checked ~ &__checkmark {
    background-color: $white;
  }
  &__container input:checked ~ &__checkmark:after {
    display: block;
  }
}
