.footer{
    background-color: #e63946;
    color: #f1faee;;
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &__item{
        list-style: none;
        margin: 0;
    }
}
