@use "../../styles/partials/colors" as *;

.health-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.125rem;
  background-color: $smokey-black;
  padding: 0.125rem;
  &__cell {
    min-height: 0.625rem;
    width: 100%;
    &--green {
      background-color: $green;
    }
    &--red {
      background-color: $red;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
  }
  &__hp {
    color: $paradise-pink;
  }
}
