@use "../../styles/partials/colors" as *;

.health-bar{
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: $smokey-black;
    padding: 2px;
    &__cell{
        height: 10px;
        width: 100%;
        &--green{
            background-color:$green;
        }
        &--red{
            background-color: $red;
        }
    }
}